CXX = emcc
CC = emcc
STRIP = true
PKGCONFIG = true
NAME = teamforever.js

# Compiler Flags
CFLAGS += -O3 -fsigned-char \
    -DRETRO_PLATFORM=4 \
    -DRETRO_SDL_VERSION=2 \
    -DRETRO_USING_SDL2=1 \
    -DRETRO_USING_OPENGL=0 \
    -DASIO_DISABLE_THREADS \
    -DASIO_STANDALONE \
    -s USE_SDL=2 \
    -s USE_SDL_IMAGE=1 \
    -s USE_OGG=1 \
    -s USE_VORBIS=1 \
    -include SDL2/SDL.h \
    -include ogg/ogg.h \
    -include vorbis/vorbisfile.h \
    -I./dependencies/all/tinyxml2 \
    -I./dependencies/all/theoraplay \
    -I./dependencies/libtheora/include \
    -Wno-macro-redefined \
    -Wno-shift-op-parentheses \
    -Wno-format

# C++ Flags
CXXFLAGS += -std=c++17

# Linker Flags
LIBS += -O3 \
    -s USE_SDL=2 \
    -s USE_SDL_IMAGE=1 \
    -s USE_OGG=1 \
    -s USE_VORBIS=1 \
    -s ALLOW_MEMORY_GROWTH=1 \
    -s INITIAL_MEMORY=268435456 \
    -s ASSERTIONS=0 \
    -s EXPORT_NAME='Module' \
    -s MODULARIZE=0 \
    -s EXPORTED_RUNTIME_METHODS=['FS','callMain','cwrap','ccall','IDBFS'] \
    -s EXPORTED_FUNCTIONS="['_main', '_RSDK_Initialize', '_RSDK_Configure']" \
    -s EMULATE_FUNCTION_POINTER_CASTS=1 \
    -s EXIT_RUNTIME=0 \
    -s INVOKE_RUN=0 \
    -s FORCE_FILESYSTEM=1 \
    -L./dependencies/libtheora/lib/.libs \
    -ltheoradec \
